body {
  font-family: "PT Sans", sans-serif;
}
.presentation {
  background: black;
  margin: 20px auto;
  width: 700px auto;
  padding: 50px;
}
.name {
  color: #fff;
  text-align: center;
}
.line-divider {
  border-top: 2px solid #6a6d6e;
  opacity: 0.4;
}
.title {
  color: rgb(13, 81, 226);
  text-align: center;
}
img {
  display: block;
  margin: 25px auto;
  border-radius: 4px;
  border: 1px solid #fff;
  width: 400px;
}
.description {
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 4px;
}
p {
  color: #fff;
  line-height: 1.5;
  text-align: justify;
}
.highlight {
  color: rgb(13, 81, 226);
  font-weight: 600;
}
.identification {
  text-align: right;
  margin: 40px 0px 0px 0px;
  font-size: 14px;
}
.github-repo {
  color: #127fce;
}
.author {
  color: rgb(114, 111, 111);
}
